<div class="product" *ngIf="product else skeleton">
    <p-image [src]="product.imageurl" [preview]="true" alt="Image" width="100%">
        <ng-template pTemplate="indicator">
            <i class="pi pi-eye"></i>
        </ng-template>
    </p-image>
    <div class="description">
        <h2>{{product.name|titlecase}}</h2>
        <p>{{product.description}}</p>
        <p>{{product.price|currency}}</p>
    </div>
</div>

<ng-template #skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>

</ng-template>