.p-menubar-end {
    margin-left: 0;
}

.cursor {
    cursor: pointer;
}

.card.flex.justify-content-center {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.shoping-car{
   font-size: 30px;
   cursor: pointer;
}
.right-position{
    margin-right: 50px;
}