<p-toast></p-toast>
<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <a routerLink="/dashboard"><img src="../../../../assets/img/logo.png" height="40" class="mr-2" /></a>
    </ng-template>
    <ng-template pTemplate="end">

        <div class="card flex justify-content-center right-position">
            <i class="pi 
            pi-shopping-cart shoping-car" value="2" severity="warning" pBadge (click)="op.toggle($event)"></i>
        </div>
    </ng-template>
    
</p-menubar>

<p-overlayPanel #op>
    <ng-template pTemplate="content">
        <h4>Custom Content</h4>
    </ng-template>
</p-overlayPanel>