
<form [formGroup]="formResetPassword">
    <div class="field">
        <input type="text" pInputText formControlName="email" [ngClass]="{'width':'100'}" placeholder="Please, enter your e-mail to reset your password"/>
    
    <span
    *ngIf="
      formResetPassword.get('email')!.hasError('required') &&
      formResetPassword.get('email')!.touched
    "
    [ngStyle]="{ color: 'var(--red-400)' }"
  >
    Please, enter an email to continue.
  </span>
  
  <span
    *ngIf="
      formResetPassword.get('email')!.hasError('email') &&
      formResetPassword.get('email')!.touched
    "
    [ngStyle]="{ color: 'var(--red-400)' }"
  >
    Please, enter a correct email to continue.
  </span>
</div>
<div class="field">
    <p-button [disabled]="formResetPassword.invalid||sendingEmail"
        label="Reset password"
        styleClass="p-button-raised p-button-warning"
        (onClick)="SendResetPasswordEmail()"
      ></p-button>
<app-progress-bar *ngIf="sendingEmail"></app-progress-bar>
      <p-messages [closable]="false"></p-messages>
</div>
</form>