<div class="card mt-2" *ngIf="loaded else skeleton">
    <p-button class="button-add" label="Sell a new product" routerLink="/dashboard/sell" icon="pi pi-plus"></p-button> 
    <p-dataView #dv [value]="products" [rows]="5" [paginator]="true">
        
        <ng-template let-product pTemplate="listItem">
            <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                    <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="product.imageurl" height="160" [alt]="product.name" />
                    <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                            <div class="text-2xl font-bold text-900">{{ product.name|titlecase }}</div>
                            <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                            <div class="flex align-items-center gap-3">


                            </div>
                        </div>
                        <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                            <span class="text-2xl font-semibold">{{product.price|currency }}</span>
                            <button style="background-color: red; border: 1px solid white;" pButton icon="pi pi-pencil" label="Edit product" class="md:align-self-end mb-2 p-button-rounded" (click)="GoProduct(product.id)"></button>
                            <button pButton icon="pi pi-eye-slash" styleClass="p-button-danger" label="Hide product" ng class="md:align-self-end mb-2 p-button-rounded" *ngIf="product.hidden==0 else show" (click)="setHideProduct(product.id)"></button>
                            <ng-template #show>
                                <button pButton icon="pi pi-eye" styleClass="p-button-success" label="Show product" ng class="md:align-self-end mb-2 p-button-rounded" (click)="setHideProduct(product.id)"></button>

                            </ng-template>

                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
<ng-template #skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>
    <p-skeleton width="100%" styleClass="mb-2" height="9rem"></p-skeleton>

</ng-template>