<p-fieldset class="register-product" [style]="{'margin-top': '50px'}">
    <p-toast></p-toast>
    <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2" [style]="{'color':'black'}"></span>
            <span class="font-bold text-lg" [style]="{'color':'black'}">Sell a new prodcut</span>
        </div>

    </ng-template>
    <form class="register-form" [formGroup]="formRegister" (submit)="RegisterProduct()">
        <div class="inputs">

            <div class="p-inputgroup">
                <span class="p-float-label">
            <input pInputText id="name" formControlName="name"/>
            <label htmlFor="name">Product Name</label>
            
                </span>
                <span *ngIf="formRegister.get('name')!.hasError('required')&&formRegister.get('name')!.touched" [ngStyle]="{color: 'var(--red-400)'}">
                    Please, enter the product name to continue.
                </span>
            </div>
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <p-inputNumber formControlName="price" id="price" inputId="currency-us" mode="currency" currency="USD" locale="en-US" formControlName="price"> </p-inputNumber>
            <label htmlFor="name">Product Price</label>
            
                </span>
                <span *ngIf="formRegister.get('price')!.hasError('required')&&formRegister.get('price')!.touched" [ngStyle]="{color: 'var(--red-400)'}">
                    Please, enter the product price to continue.
                </span>
            </div>
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <textarea rows="5" cols="30" id="description" pInputTextarea [autoResize]="true" formControlName="description"></textarea>

            <label htmlFor="description">Product Description</label>
            
                </span>
                <span *ngIf="formRegister.get('description')!.hasError('required')&&formRegister.get('description')!.touched" [ngStyle]="{color: 'var(--red-400)'}">
                    Please, enter the prodcut description to continue.
                </span>
            </div>
            <div class="p-inputgroup">
                <div class="card flex justify-content-center">


                    <div class="file-select" id="src-file1">
                        <input type="file" name="src-file1" aria-label="Choose image" accept="image/*" (change)="getImage($event)">
                    </div>
                </div>

            </div>

            <div class="p-inputgroup">
                <div class="card flex justify-content-center">


                    <form [formGroup]="formRegister">
                        <p-dropdown formControlName="stock" optionValue="name" [options]="stocks" optionLabel="name" [style]="{'width': '100%'}"></p-dropdown>
                    </form>

                </div>

            </div>

        </div>
        <div class="buttons">
            <p-button label="Sell" styleClass="p-button-raised p-button-success" type="submit" class="register-button" [disabled]="formRegister.invalid"></p-button>
            <p-button label="Cancel" styleClass="p-button-raised p-button-secondary" type="submit" class="register-button" routerLink="/dashborad"></p-button>
        </div>
    </form>
</p-fieldset>