<div class="card flex justify-content-center" *ngIf="!loading&&!wrongUrl">
  <div class="card-message-successfull">
    <div class="header">

      <i class="pi pi-info-circle" style="color: rgb(255, 255, 255)"></i>
      <p>Reset password</p>
    </div>
    <div class="body">
      <form [formGroup]="resetPasswordForm" class="form">
        <div class="field">
          <div class="p-inputgroup">

            <span class="p-float-label">
              <p-password formControlName="password" [feedback]="false" id="password" [style]="{'width':'100%'}"
                [toggleMask]="true"></p-password>
              <label htmlFor="Password">Password</label>
            </span>

          </div>
          <span *ngIf="
                      resetPasswordForm.get('password')!.hasError('required') &&
                      resetPasswordForm.get('password')!.touched
                    " [ngStyle]="{ color: 'var(--red-400)' }">
            Please, enter your password to continue.
          </span>

          <span *ngIf="
                      !resetPasswordForm.get('password')!.hasError('required') &&
                      resetPasswordForm.get('password')!.touched &&
                      resetPasswordForm.get('password')!.hasError('minlength')
                    " [ngStyle]="{ color: 'var(--red-400)' }">
            Please, your password must have at least 8 characters
          </span>
        </div>
        <br>
        <div class="field">
          <div class="p-inputgroup">

            <span class="p-float-label">
              <p-password formControlName="confirmPassword" [feedback]="false" id="password" [style]="{'width':'100%'}"
                [toggleMask]="true"></p-password>
              <label htmlFor="Password">Password</label>
            </span>

          </div>
          <span *ngIf="
                    resetPasswordForm.get('confirmPassword')!.hasError('required') &&
                    resetPasswordForm.get('confirmPassword')!.touched
                  " [ngStyle]="{ color: 'var(--red-400)' }">
            Please, enter your password to continue.
          </span>

          <span *ngIf="
                   
                    resetPasswordForm.get('confirmPassword')!.touched &&
                    resetPasswordForm.hasError('notSame')
                  " [ngStyle]="{ color: 'var(--red-400)' }">
            Both password must be the same
          </span>
        </div>
      </form>
      <button [disabled]="resetPasswordForm.invalid||sendingResetPassword" (click)="resetPassword()" pButton pRipple
        label="Reset password" class="p-button-success"></button>
      <div class="message">
        <p-messages [closable]="false"></p-messages>
      </div>
    </div>
  </div>

</div>

<div class="card flex justify-content-center" *ngIf="!loading&&wrongUrl">
  <div class="card-message-error">
    <div class="header">

      <i class="pi pi-times-circle" style="color: rgb(255, 255, 255)"></i>
      <p>Error</p>
    </div>
    <div class="body">
      <p>It is not possible to reset your password.</p>
      <button routerLink="/" pButton pRipple label="Continue" class="p-button-danger"></button>
    </div>
  </div>

</div>